{% extends 'base.html' %}

{% load static %}

{% block content %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>피드</h1>
  </div><!-- End Page Title -->

<section class="section dashboard">

<div class="columns is-mobile has-text-centered">
  <div class="column is-half is-offset-one-quarter">

    <div class="card">
    <div class="card-content">

    <form method="post" action="" enctype="multipart/form-data" role="form">
    {% csrf_token %}
    <h3 class="title is-1">새로운 피드</h3>

            <div class="field">
              <p class="control has-icons-left">
              <label class="label is-medium">사진을 선택하세요</label>
                {{ form.content }}
                <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
          </div>

            <div class="field">
              <p class="control has-icons-left">
              <label class="label is-medium">설명</label>
                {{ form.caption }}
                <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
          </div>

            <div class="field">
              <p class="control has-icons-left">
              <label class="label is-medium">태그 (서울시 지역구 ex. 노원구)</label>
                {{ form.tags }}
                <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
          </div>

      <div class="field">
      <p class="control">
        <button type="submit" name="action" class="button is-success">
          작성
        </button>
      </p>
    </div>


      </div>
</div>


</section>
</main>
{% endblock %}